<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Invoices list of :  {{selectedClient.name}}.</h2>
                </div>

            </div>
        </div>
        <div *ngIf="invoices.length === 0" class="alert alert-info">
            No Invoices yet.
        </div>

        <table class="table table-striped table-hover" *ngIf="invoices.length > 0">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr class="invoice-row" *ngFor="let invoice of invoices" (click)="navigateToInvoice(invoice._id)">
                    <td>{{ invoice.invoiceNumber }}</td>
                    <td>{{ invoice.client.name }}</td>
                    <td>{{ invoice.currency }}&nbsp;{{ invoice.subTotal }}</td>
                    <td>{{ invoice.dueDate | date }}</td>
                    <td>{{ invoice.status }}</td>
                    <!-- <td class="actions d-flex">
                        <button (click)="editInvoice(invoice,$event)"><i class="bx bx-edit" title="Edit" style=" color: #FFC107;"></i></button>
                        <button (click)="confirmDelete(invoice._id,$event)" ><i class="bx bx-trash" title="Delete" style="color: red;"
                                title="Delete"></i></button>

                    </td> -->
                </tr>
            </tbody>
        </table>

    </div>
</div>